<div class="col-xs-12 col-md-8" ng-controller = "authenticationCtrl">
  <form name="myform" ng-submit= "submitLogin(credentails)" novalidate>
    <fieldset class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" ng-model="credentails.email" placeholder="Enter user email" class="form-control" required>
      <small>
        <div class="help-block" ng-messages="myform.email.$error" ng-show="myform.email.$touched">
          <div ng-messages-include="partials/message.html"></div>
        </div>
      </small>
    </fieldset>
    <fieldset class="form-group">
      <label for="user_name">Password</label>
      <input type="password" name="password" ng-model="credentails.password" placeholder="enter password" class="form-control" required>
      <small>
        <div class="help-block" ng-messages="myform.password.$error" ng-show="myform.password.$touched">
          <div ng-messages-include="partials/message.html"></div>
        </div>
      </small>
    </fieldset>
    <input class= "btn btn-primary" ng-disabled="myform.$invalid" type="submit" value="login" />
    <ul>
      <li><a ui-sref="sign_up">Sign Up</a></li>
      <li><a ui-sref="reset_password">Forgot your password?</a></li>
    </ul>
  </form>
</div>