<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="jumbotron">
      <div class="container" ng-controller = "postCtrl">
        <h1>{{post.title}}</h1>
        <p>{{ post.body }}</p>
        <button  class = "btn btn-danger" confirmed-click="delete(post.id)" ng-confirm-click="Would you like to delete this post?" ng-if = "(post.user.id === current_user.id)" >Delete</button>
        <button class = "btn btn-primary" ng-click = "edit(post.id)" ng-if = "(post.user.id === current_user.id)">Edit</button>
        <div ng-show="editable">
        	<div ui-view="form"></div>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">Comments</div>
            <div class="panel-body">
           	  <ul class="list-group">
        		    <li class="list-group-item" ng-repeat="comment in post.comments">
        	    	  {{comment.body}}
        	      </li>
        	    </ul>
            </div>
          <div ng-if= "isLogin" class="panel-footer">
            <h2>Add a comment</h2>
            <div ng-include= "'comment-form.html'">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a ng-click="goBack()">Back</a>
  </div>
</div>